realdir() {
	#we could use realpath to simplify this?
        V948143791354=`pwd`
        cd "$(readlink -f $V948143791354)"
        unset V948143791354
}

path() {
	echo $PATH | sed 's/:/\n/g'
}

send3dsx() {
	result=1
	while [ $result -ne 0 ] ; do
	        3dslink *3dsx
        	result=$?
	done
}

brew() {
	citra-qt *3dsx
}

localdevices(){
	nmap -sn 192.168.1.1/24 | grep -o "[0-9]\?[0-9]\?[0-9]\.[0-9]\?[0-9]\?[0-9]\.[0-9]\?[0-9]\?[0-9]\.[0-9]\?[0-9]\?[0-9]"
}

git() {
    if [[ $1 == "clone" ]]; then
	shift
        command git clone --recursive "$@"
    else
        command git "$@"
    fi
}

function hex2string () {
  if [ "$#" -eq 0 ]; then
    while read line
    do
      hex2string $line
    done
  else
    while [ "$#" -gt 1 ]; do
      hex2string $1
      shift 1
    done
    I=0
    while [ $I -lt ${#1} ];
    do
      echo -en "\x"${1:$I:2}
      let "I += 2"
    done
    echo ""
  fi
}

#STDERR printed in RED. Example: color ping
color()(set -o pipefail;"$@" 2> >(sed $'s,.*,\e[31m&\e[m,'>&2))

#example of multiple strings with grep (or): grep -E 'str1|str2'
#search regular files that are executable: find -type f --executable
#limitacio dels alias: no es poden usar al mod + d
#en el find per limitar el depth és -maxdepth X, no -depth

# wrap long lines using backslashes
wrap() { perl -pe 's/.{'$(( ${COLUMNS:-80} - 1))'}/$&\\\n/g' -- "$@" }
# reload zshrc
alias reload='source ~/.zshrc'
# create a 256M ramdisk
alias ramdisk='sudo mount -t tmpfs -o size=256m tmpfs /mnt/ramdisk && cd /mnt/ramdisk'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
mkd() { mkdir -p "$1" && cd "$1" }
exe() { chmod a+x "$1" }

## Colorize the ls output ##
alias ls="ls --color=auto"
alias l="ls -sailh"
alias nautilus='nautilus "$(pwd)"'
alias fucking=sudo
alias please=sudo
#alias rm="safe-rm -I" #safe-rm adds itself to the path before the real rm path
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -I"
alias c=cat
alias i3config="nano ~/.config/i3/config"
alias dd="dd status=progress"
alias py=python
alias myip="echo Public:;dig +short myip.opendns.com @resolver1.opendns.com;echo Local:;ip a|grep 'inet '|grep -v 127.0.0.1|tr -s ' '|cut -d' ' -f3|cut -d/ -f1"
# alias cd=cd -P #not sure what this does
alias realfolder=realdir
alias code=codium
alias normalUsers="cat /etc/passwd | grep -vE 'nologin|false' | cut -d: -f1,5 --output-delimiter=' -> '"
alias livecat="tail -f"
alias liveless="less +F"
alias whichPackage="pacman -Qo" #maybe name could be improved? whichPackageFileBelongsTo?
alias pyenvVersions="ls ~/.pyenv/versions/"
alias setxkb="setxkbmap es,ru -option grp:alt_shift_toggle"
alias i3-notify=notify-send
alias equalizer=qpaeq
alias tojpg="mogrify -format jpg -quality 95"
alias whiteNoise="cvlc /home/markus/Sounds/03-White-Noise-10min.mp3"
alias soundControl=pavucontrol
alias equalizer=pulseeffects
alias cutter=iaito
alias podcasts=clementine
alias wallpaper=nitrogen
alias blame=praise
alias gitblame=praise
alias paint=kolourpaint
alias decolorize="sed 's/\x1B\[[0-9;]\{1,\}[A-Za-z]//g'"
alias ci=citra-qt
alias homebrew=brew
alias sl=ls
alias inputdebug=xev
alias keyboardtest=xev
alias fixPacmanKeyring="sudo pacman -S archlinux-keyring"
alias editPacmanConfigGUI="sudo leafpad /etc/pacman.conf"
alias pacmanRemoveUnstableRepos="sudo sed -i 's/^\([^#].*\(dkp-libs\|dkp-linux\|pkg\.devkitpro\).*\)$/#\1/' /etc/pacman.conf"
alias pacmanAddUnstableRepos="sudo sed -i 's/^#\(.*\(dkp-libs\|dkp-linux\|pkg\.devkitpro\).*\)$/\1/' /etc/pacman.conf"
alias freejsfirefox=icecat
alias notepad1=leafpad
alias notepad2=mousepad
alias notepad3=gedit
alias ip2geo=geoiplookup
alias ip2geo2="ip2geotools -d dbipcity"
alias sus="systemctl suspend"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias fixdayz='sudo sysctl -w vm.max_map_count=1048576'
alias dayzfix=fixdayz
alias prettyjson="jq . "
alias gimp2=digikam
alias imageeditor=digikam
alias imageviewer=geeqie
alias findduplicateimages=czkawka
alias findduplicateimages2=findimagedupes
alias objdump="objdump -M intel"
alias torrents=transmission-qt
alias torrents2=deluge
alias brainfuck=bfc
alias startnm='sudo systemctl start NetworkManager'
alias networkmanagerstart='sudo systemctl start NetworkManager'
alias compositor=picom
alias processExplorer=qps
alias settings=xfce4-settings-manager
alias settings2=systemsettings
alias hexeditor1=wxHexEditor
alias hexeditor2=bless
alias hexeditor3=fhex
alias hexeditor4=ghex
