realdir() {
	#could we use realpath to simplify this?
        V948143791354=`pwd`
        cd "$(readlink -f $V948143791354)"
        unset V948143791354
}

lessbat() {
	bat --color always $@ | less
}

ard() {
	arduino-cli compile --fqbn arduino:avr:uno --upload --port /dev/ttyACM0 *.ino
}

path() {
	echo $PATH | sed 's/:/\n/g'
}

send3dsx() {
	result=1
	while [ $result -ne 0 ] ; do
	        3dslink *3dsx
		result=$?
	done
}

brew() {
	citra-qt *3dsx
}

git() {
    if [[ $1 == "clone" ]]; then
	shift
        command git clone --recursive "$@"
    else
        command git "$@"
    fi
}

function mountTemp(){
    device=$1
    shift
    sudo mount $device /mnt/temp $@
}

function hex2string () {
  if [ "$#" -eq 0 ]; then
    while read line
    do
      hex2string $line
    done
  else
    while [ "$#" -gt 1 ]; do
      hex2string $1
      shift 1
    done
    I=0
    while [ $I -lt ${#1} ];
    do
      echo -en "\x"${1:$I:2}
      let "I += 2"
    done
    echo ""
  fi
}

#https://www.linuxfordevices.com/tutorials/linux/extract-compressed-files-custom-command
extract() {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)    tar xvjf $1    ;;
      *.tar.gz)    tar xvzf $1    ;;
      *.tar.xz)    tar xf $1      ;;
      *.tar)        tar xvf $1     ;;
      *.tbz2)        tar xvjf $1    ;;
      *.tgz)        tar xvzf $1    ;;
      *.bz2)        bunzip2 $1     ;;
      *.rar)        unrar x $1     ;;
      *.gz)        gunzip $1      ;;
      *.zip)        unzip $1       ;;
      *.Z)        uncompress $1  ;;
      *.7z)        7z x $1        ;;
      *.cab)        cabextract $1        ;;
      *)        echo "don't know how to extract '$1'..." ;;
    esac
  else
    echo "'$1' is not a valid file!"
  fi
}

contents() {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)    tar tvf $1    ;;
      *.tar.gz)    tar tvf $1    ;;
      *.tar.xz)    tar tvf $1      ;;
      *.tar)        tar tvf $1     ;;
      *.tbz2)        tar tvf $1    ;;
      *.tgz)        tar tvf $1    ;;
#      *.bz2)        bunzip2 ??? $1     ;;
      *.rar)        unrar v $1     ;;
      *.zip)        unzip -l $1       ;;
      *.7z)        7z l $1        ;;
      *.cab)        cabextract -l $1        ;;
      *)        echo "don't know how to list '$1'..." ;;
    esac
  else
    echo "'$1' is not a valid file!"
  fi
}

#https://unix.stackexchange.com/a/163716
_alarm() {
  ( \speaker-test --frequency $1 --test sine )&
  pid=$!
  \sleep 0.${2}s
  \kill -9 $pid
}

#STDERR printed in RED. Example: color ping
color()(set -o pipefail;"$@" 2> >(sed $'s,.*,\e[31m&\e[m,'>&2))

#Example of multiple strings with grep (or): grep -E 'str1|str2'
#Search regular files that are executable: find -type f --executable
#Aliases limitation: they don't work with $mod + d
#Find's parameter for directory depth limit is -maxdepth X, not -depth X

#Warning: in bash functions cannot be oneliners, for compatibility make them 3 lines
# wrap long lines using backslashes
wrap() { 
	perl -pe 's/.{'$(( ${COLUMNS:-80} - 1))'}/$&\\\n/g' -- "$@" 
}
# create a 256M ramdisk
alias ramdisk='sudo mount -t tmpfs -o size=256m tmpfs /mnt/ramdisk && cd /mnt/ramdisk'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
mkd() { 
	mkdir -p "$1" && cd "$1" 
}
exe() { 
	chmod a+x "$1" 
}

#Command improvements/default parameters
alias ls="ls --color=auto"
alias l="ls -sailh"
alias diff="diff --color"
alias nautilus='nautilus "$(pwd)"'
alias dd="dd status=progress"
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -I"
alias objdump="objdump -M intel"
alias chown="chown --preserve-root"
alias pactree="pactree -c"
#alias rm="safe-rm -I" #safe-rm adds itself to the path before the real rm path
#alias cd=cd -P #not sure what this does

#Alias/short names
alias c=cat
alias py=python
alias code=codium
alias sus="systemctl suspend"
alias please=sudo
alias uefiReboot="systemctl reboot --firmware-setup"
alias equalizer=qpaeq
alias i3-notify=notify-send
alias soundControl=pavucontrol
alias equalizer=pulseeffects
alias cutter=iaito
alias podcasts=clementine
alias wallpaper=nitrogen
alias blame=praise
alias gitblame=praise
alias paint=kolourpaint
alias ci=citra-qt
alias homebrew=brew
alias sl=ls
alias inputdebug=xev
alias keyboardtest=xev
alias freejsfirefox=icecat
alias notepad1=leafpad
alias notepad2=mousepad
alias notepad3=gedit
alias gimp2=digikam
alias imageeditor=digikam
alias imageviewer=geeqie
alias findduplicateimages=czkawka
alias findduplicateimages2=findimagedupes
alias removeduplicatefiles=rdfind
alias torrents=transmission-qt
alias torrents2=deluge
alias brainfuck=bfc
alias compositor=picom
alias processExplorer=qps
alias settings=xfce4-settings-manager
alias settings2=systemsettings
alias hexeditor1=wxHexEditor
alias hexeditor2=bless
alias hexeditor3=fhex
alias hexeditor4=ghex
alias vnc1=gvncviewer
alias vnc2=vinagre
alias vnc3=vncviewer
alias vnc4=vncdo
alias vnc5=ultravnc-viewer
alias vncServer1=Xvnc
alias vncServer2=x11vnc
alias nintendoFilesystemMount=ninfs
alias xmplayer=ft2-clone
alias fasttracker=ft2-clone
alias logitech=solaar
alias ndsEmu1=desmume
alias ndsEmu2=melonDS
alias petitComputer=PTCUtilities.sh
alias shshSaver=blobsaver
alias gitgui1=gitk
alias gitgui2=gittyup
alias topgui=qps
alias pdfreader1=okular
alias pdfreader2=evince
alias rssreader=liferea
alias webbrowser1=firefox
alias webbrowser2=chromium
alias webbrowser3=epiphany
alias webbrowser4=midori
alias webbrowser5=lynx



#Custom commands/shortcuts
alias i3config="nano ~/.config/i3/config"
alias myip="echo Public:;dig +short myip.opendns.com @resolver1.opendns.com;echo Local:;ip a|grep 'inet '|grep -v 127.0.0.1|tr -s ' '|cut -d' ' -f3|cut -d/ -f1"
alias normalUsers="cat /etc/passwd | grep -vE 'nologin|false' | cut -d: -f1,5 --output-delimiter=' -> '"
alias livecat="tail -f"
alias liveless="less +F"
alias whichPackage="pacman -Qo" #maybe name could be improved? whichPackageFileBelongsTo?
alias pyenvVersions="ls ~/.pyenv/versions/"
alias setxkb="setxkbmap es,ru -option grp:alt_shift_toggle"
alias tojpg="mogrify -format jpg -quality 95"
alias whiteNoise="cvlc ~/Sounds/03-White-Noise-10min.mp3"
alias decolorize="sed 's/\x1B\[[0-9;]\{1,\}[A-Za-z]//g'"
alias fixPacmanKeyring="sudo pacman -S archlinux-keyring"
alias editPacmanConfigGUI="sudo leafpad /etc/pacman.conf"
alias pacmanRemoveUnstableRepos="sudo sed -i 's/^\([^#].*\(dkp-libs\|dkp-linux\|pkg\.devkitpro\).*\)$/#\1/' /etc/pacman.conf"
alias pacmanAddUnstableRepos="sudo sed -i 's/^#\(.*\(dkp-libs\|dkp-linux\|pkg\.devkitpro\).*\)$/\1/' /etc/pacman.conf"
alias ip2geo=geoiplookup
alias ip2geo2="ip2geotools -d dbipcity"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias fixdayz="sudo sysctl -w vm.max_map_count=1048576"
alias dayzfix=fixdayz
alias prettyjson="jq . "
alias citraLog="cat ~/.local/share/citra-emu/log/citra_log.txt"
alias citraLogDir=~/.local/share/citra-emu/log/
alias citraDir=~/.local/share/citra-emu/
alias reloadZsh="source ~/.zshrc"
alias reload=reloadZsh
alias brilloBenq="starti2c && sudo ddcutil -d 1 setvcp 0x10"
alias brilloAcer="starti2c && sudo ddcutil -d 2 setvcp 0x10"
alias cpProgress="rsync -ah --progress"
alias stdinToClipboard="xclip -selection c"
alias toclipboard="xclip -selection c"
alias gitUrl="git config --get remote.origin.url"
alias nanolines="nano -l"
alias nanowrap="nano -S"
#TODO: improve so doesn't ask for sudo password when bt is already initialized
alias cascos="startbt && cascos.sh" #cascos.sh is a bash script wich does "bluetoothctl connect XX:XX:XX:XX:XX:XX"
alias cascosdisconnect="bluetoothctl disconnect"
alias btdisconnect="bluetoothctl disconnect"
alias networkUsage="watch -n1 ifconfig enp33s0"
alias androidFtp="ftp android@192.168.1.245 -p 2221"
alias flatpakPackageSizes="flatpak list --columns=size,name|sort -g"
alias mountNtfsWritePermissionsAllUsers="sudo mount -o user,umask=0000"
alias mountFatWritePermissionsAllUsers="sudo mount -o user,umask=0000"
alias umountTemp="sudo umount /mnt/temp"
alias utemp=umountTemp
alias localdevices="nmap -sn 192.168.1.1/24 | grep -o '[0-9]\?[0-9]\?[0-9]\.[0-9]\?[0-9]\?[0-9]\.[0-9]\?[0-9]\?[0-9]\.[0-9]\?[0-9]\?[0-9]'"
alias fakebeep="_alarm 1000 400"
alias gits="git status"
alias gitb="git branch | cat"
alias gitc="git checkout"
alias gitadog="git log --all --decorate --oneline --graph" #CLI branch graph
alias fixbrillo="sudo ddcutil detect"

#Init/Start of services and other stuff
alias starti2c="sudo modprobe i2c-dev"
alias startnm="sudo systemctl start NetworkManager && nm-applet & disown"
alias startbt="sudo systemctl start bluetooth"
